@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    background-color: #00000041;
    --body-color: #000000;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/white.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000000;
    --body-color: #ffffff;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/black.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }
}
